<div class="main">
    <div class="macaron">
        <button class="macaron_btn" type="action" name="act_roll">
            <img src="https://imgsrv.roll20.net/?src=https%3A//gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/serpent-small.png" alt="Serpent" />
        </button>
    </div>

    <div class="tabs">
        <input class="tab_trigger" type="hidden" name="attr_tab_trigger">
        <button type="action" name="act_ident">Mon identité</button>
        <button type="action" name="act_jauges">Mes jauges</button>
        <button type="action" name="act_traits">Ma légende</button>
        <button type="action" name="act_pouvoirs">Mes pouvoirs</button>
    </div>

    <input class="tab_trigger" type="hidden" name="attr_tab_trigger" value="ident">
    <div class="section ident"> 
        <h2>Identité</h2>

        <div class="section_body">

            <div class="subsection">
                <label>
                    <h3>Mon nom est</h3>
                    <input type="text" name="attr_character_name"/>
                </label>
        
                <label>
                    <h3>Mon astre protecteur</h3>
                    <select name="attr_astre">
                        <option>Dragon Azur de l'Est</option>
                        <option>Torture Noire du Nord</option>
                        <option>Tigre blanc de l'Ouest</option>
                        <option>Phénix du Sud</option>
                        <option>Qilin du Centre</option>
                    </select>    
                </label>
        
                <label>
                    <h3>Ma voie</h3>
                    <select name="attr_voie">
                        <option>Voie du Guerrier</option>
                        <option>Voie de l'Érudit</option>
                        <option>Voie de l'Ombre</option>
                        <option>Voie de la Majesté</option>
                        <option>Voie de l'Errance</option>
                    </select>    
                </label>
            </div>

            <div class="subsection--column">
                <label>
                    <h3>Mon archétype</h3>
                    <select name="attr_archetype">
                        <option>Artiste et poète</option>
                        <option>Assassin</option>
                        <option>Barbare</option>
                        <option>Bateleur</option>
                        <option>Chevalier des Vertes Forêts</option>
                        <option>Courtisane et acteur</option>
                        <option>Criminel</option>
                        <option>Disciple d’une école</option>
                        <option>Fang Shi et chamane</option>
                        <option>Médecin et herboriste</option>
                        <option>Mendiant et vagabond</option>
                        <option>Moine errant</option>
                        <option>Officier civil et magistrat</option>
                        <option>Pirate</option>
                        <option>Soldat et officier militaire</option>
                        <option>Wuxia</option>
                    </select>    
                </label>
        
                <label>
                    <h3>Identités</h3>
                    <fieldset class="repeating_identite">
                        <input type="text" name="attr_nom" placeholder="Nom" />
                        <select name="attr_type"> 
                            <option value="simple" selected>Simple</option>
                            <option value="confirme">Confirmé</option>
                        </select>    
                    </fieldset>    
                </label>
            </div>

            <div class="subsection">
                <h3>Équilibre</h3>
                <label class="desequilibre">
                    <h4>Déséquilibre</h4>
                    <input type="number" name="attr_desequilibre" value="[abs(@{yin} - @{yang})]" disabled="true" />
                </label>
                <label class="yin">
                    <h4>Yin</h4>
                    <input type="number" name="attr_yin" value="0" />
                    <fieldset class="repeating_traitsyin">
                        <input type="text" name="attr_nom" placeholder="Nom" />
                    </fieldset>
                </label>
                <label class="yang">
                    <h4>Yang</h4>
                    <input type="number" name="attr_yang" value="0" />
                    <fieldset class="repeating_traitsyang">
                        <input type="text" name="attr_nom" placeholder="Nom" />
                    </fieldset>
                </label>
            </div>

        </div>
    </div>

    <div class="section jauges">

        <h2>Jauges</h2>
        <div class="section_body">
            <div class="cycle">
                <label class="cycle_element allure">
                    <h3>Allure</h3>
                    <input type="number" name="attr_allure" />
                </label>
                <label class="cycle_element corps">
                    <h3>Corps</h3>
                    <input type="number" name="attr_corps" />
                </label>
                <label class="cycle_element forceinterieure">
                    <h3>Force intérieure</h3>
                    <input type="number" name="attr_forceinterieure" />
                </label>
                <label class="cycle_element esprit">
                    <h3>Esprit</h3>
                    <input type="number" name="attr_esprit" />
                </label>
                <label class="cycle_element gongfu">
                    <h3>Gong Fu</h3>
                    <input type="number" name="attr_gongfu" />
                </label>
            </div>
            <div class="subsection">

                <label>
                    <h3>Souffle</h3>
                    <input type="number" name="attr_souffle" />
                </label>
                <label>
                    <h3>Sang</h3>
                    <input type="number" name="attr_sang" />
                </label>
                <label>
                    <h3>Neigong</h3>
                    <input type="number" name="attr_neigong" />
                </label>
                <label>
                    <h3>Initiative</h3>
                    <input type="number" name="attr_initiative" />
                </label>
                <label>
                    <h3>Défense passive</h3>
                    <input type="number" name="attr_defense" />
                </label>
            </div>

            <label class="legend">
                <h3>Points d'éveil</h3>
                <input type="number" name="attr_eveil" />
            </label>
        </div>
    </div>

    <div class="section traits">

        <h2>Légende</h2>
        <div class="section_body">
            <label class="legend">
                <h3>Points de légende</h3>
                <input type="number" name="attr_legend" />
            </label>    

            <div class="subsection">
                <div>
                    <h3>Traits légendaires</h3>
                    <fieldset class="repeating_trait">
                        <div class="rep-oneline">
                            <textarea name="attr_intitule" placeholder="On dit que..."></textarea>
                            <select name="attr_type"> 
                                <option value="rumeur" selected>Rumeur</option>
                                <option value="gloire">Gloire</option>
                                <option value="legende">Légende</option>
                            </select>
                            <label class="l_trouble">
                                Trouble ?
                                <input type="checkbox" name="attr_trouble" />
                            </label>    
                        </div>
                    </fieldset>    
                </div>
            </div>

            <div class="subsection">
                <div>
                    <h3>Trésors légendaires</h3>
                    <fieldset Class="repeating_tresor">
                        <input type="text" name="attr_nom" placeholder="Nom du trésor" />
                        <select name="attr_type"> 
                            <option value="rumeur" selected>Rumeur</option>
                            <option value="gloire">Gloire</option>
                            <option value="legende">Légende</option>
                        </select>
                    </fieldset>    
                </div>
            </div>

        </div>
    </div>

    <div class="section pouvoirs">

        <h2>Pouvoirs</h2>


        <div class="section_body">

            <div class="subsection">
                <h3>Wugong</h3>
                <div>
                    <fieldset class="repeating_wugong">
                        <select name="attr_nom">
                            <optgroup label="Wugong Yang">
                                <option value="apesanteur">Apesanteur</option>
                                <option value="arcsupreme">Arc suprême</option>
                                <option value="armesvivantes">Armes vivantes</option>
                                <option value="corpsdefer">Corps de fer</option>
                                <option value="dixmillearmes">Dix-mille armes</option>
                                <option value="doigtsdefer">Doigts de fer</option>
                                <option value="draindenergie">Drain d'énergie</option>
                                <option value="fluxexterne">Flux externe</option>
                                <option value="frappeunique">Frappe unique</option>
                                <option value="pressions">Pressions</option>
                                <option value="projectilesdelombre">Projectiles de l'ombre</option>
                                <option value="projectiondenergie">Projection d'énergie</option>
                                <option value="souplesse">Souplesse</option>
                                <option value="touchervenimeux">Toucher venimeux</option>
                                <option value="vivacite">Vivacité</option>    
                            </optgroup>
                            <optgroup label="Wugong Yin">
                                <option value="alchimieexterne">Alchimie externe</option>
                                <option value="artisandejade">Artisan de Jade</option>
                                <option value="bouchedargent">Bouche d’Argent</option>
                                <option value="cavalierceleste">Cavalier Céleste</option>
                                <option value="chaleurinterne">Chaleur Interne</option>
                                <option value="divincalculateur">Divin Calculateur</option>
                                <option value="espritrenard">Esprit Renard</option>
                                <option value="fluxinterieur">Flux Intérieur</option>
                                <option value="gestuellehypnotique">Gestuelle Hypnotique</option>
                                <option value="maindusoigneur">Main du Soigneur</option>
                                <option value="maitrisedelame">Maitrise de l’Âme</option>
                                <option value="maitrisedesombres">Maitrise des Ombres</option>
                                <option value="maitriseduson">Maitrise du Son</option>
                                <option value="perceptionssuperieures">Perceptions Supérieures</option>
                                <option value="pinceaudelimmortel">Pinceau de l’Immortel</option>
                                <option value="pointsvitaux">Points Vitaux</option>
                                <option value="prestigeduphenix">Prestige du Phénix</option>
                                <option value="voiedudestin">Voie du Destin</option>
                            </optgroup>
                        </select>
                        <select name="attr_level">
                            <option>Notions</option>
                            <option>Expertise</option>
                            <option>Maitrise</option>
                            <option>Absolu</option>
                        </select>
                    </fieldset>
                </div>
            </div>

            <div class="subsection">
                <h3>Coups spéciaux</h3>
                <div>
                    <fieldset class="repeating_coups">
                        <select name="attr_name">
                            <optgroup label="Style explosif">
                                <option value="attaquebondissante">Attaque bondissante</option>
                                <option value="attaquesautee">Attaque sautée</option>
                                <option value="changementdecible">Changement de cible</option>
                                <option value="defenseagressive">Défense agressive</option>
                                <option value="frappedouloureuse">Frappe douloureuse</option>
                                <option value="frappeetourdissante">Frappe étourdissante</option>
                                <option value="frappemartyre">Frappe martyre</option>
                                <option value="frappemultidirectionnelle">Frappe multidirectionnelle</option>
                                <option value="moulinetdefensif">Moulinet défensif</option>
                                <option value="pluiedecoups">Pluie de coups</option>
                            </optgroup>
                            <optgroup label="Style sournois">
                                <option value="attaqueetretrait">Attaque et retrait</option>
                                <option value="attaquelancee">Attaque lancée</option>
                                <option value="attaquesurprenante">Attaque surprenante</option>
                                <option value="aveuglement">Aveuglement</option>
                                <option value="contreattaque">Contrattaque</option>
                                <option value="coupbas">Coup bas</option>
                                <option value="desequilibre">Déséquilibre</option>
                                <option value="feinte">Feinte</option>
                                <option value="frappearriere">Frappe arrière</option>
                                <option value="frappecamouflee">Frappe camouflée</option>
                                <option value="gene">Gêne</option>
                                <option value="rythmebrise">Rythme brisé</option>
                            </optgroup>
                            <optgroup label="Style complexe">
                                <option value="balayageetmiseaterre">Balayage et mise à terre</option>
                                <option value="blocage">Blocage</option>
                                <option value="cles">Clés</option>
                                <option value="combatausol">Combat au sol</option>
                                <option value="defaultdelacuirasse">Défaut de la cuirasse</option>
                                <option value="defenseendeterounement">Défense en détournement</option>
                                <option value="desarmement">Désarmement</option>
                                <option value="esquive">Esquive</option>
                                <option value="frappedesmeridiens">Frappe des méridiens</option>
                                <option value="frappehandicapante">Frappe handicapante</option>
                                <option value="frappemixte">Frappe mixte</option>
                                <option value="frappeperforante">Frappe perforante</option>
                                <option value="murdefensif">Mur défensif</option>
                                <option value="projection">Projection</option>
                            </optgroup>
                            <optgroup label="Style flamboyant">
                                <option value="attaquetournoyante">Attaque tournoyante</option>
                                <option value="coupeffrayant">Coup effrayant</option>
                                <option value="deplacementbondissant">Déplacement bondissant</option>
                                <option value="esquiveacrobatique">Esquive acrobatique</option>
                                <option value="fioriture">Fioriture</option>
                                <option value="frappestylisee">Frappe stylisée</option>
                                <option value="gestuellehumiliante">Gestuelle humiliante</option>
                                <option value="intimidation">Intimidation</option>
                                <option value="posture">Posture</option>
                                <option value="souplessedefensive">Souplesse défensive</option>
                            </optgroup>
                            <optgroup label="Style brutal">
                                <option value="briselame">Brise lame/brise armure</option>
                                <option value="briseurdos">Briseur d’os</option>
                                <option value="charge">Charge</option>
                                <option value="clouage">Clouage</option>
                                <option value="coupviolent">Coup violent</option>
                                <option value="doublecoup">Double coup</option>
                                <option value="ecrasementausol">Écrasement au sol</option>
                                <option value="etreinte">Étreinte</option>
                                <option value="frappemutilante">Frappe mutilante</option>
                                <option value="grandcercle">Grand cercle</option>
                                <option value="percussion">Percussion</option>
                                <option value="resistance">Résistance</option>
                            </optgroup>
                        </select>
                    </fieldset>
                </div>
            </div>

            <div class="subsection">
                <h3>Art martial</h3>
                <label>
                    <h4>Nom</h4>
                    <input type="text" name="attr_martialname" placeholder="Nom de l'art martial"/>
                </label>
                <label>
                    <h4>Réputation</h4>
                    <textarea name="attr_martialreputation" placeholder="Réputation de l'art martial"></textarea>
                </label>
                <label>
                    <h4>Style</h4>
                    <select name="attr_martialstyle">
                        <option value="explosif">Explosif</option>
                        <option value="sournois">Sournois</option>
                        <option value="complexe">Complexe</option>
                        <option value="flamboyant">Flamboyant</option>
                        <option value="brutal">Brutal</option>
                    </select>
                </label>
                <div class="techniques">
                    <h4>Techniques</h4>
                    <fieldset class="repeating_technique">
                        <label>
                            <h5>Nom</h5>
                            <input type="text" name="attr_name" />
                        </label>
                        <label>
                            <h5>Style</h5>
                            <select name="attr_style">
                                <option value="explosif">Explosif</option>
                                <option value="sournois">Sournois</option>
                                <option value="complexe">Complexe</option>
                                <option value="flamboyant">Flamboyant</option>
                                <option value="brutal">Brutal</option>
                            </select>    
                        </label>
                        <label>
                            <h5>Niveau</h5>
                            <select name="attr_niveau">
                                <option value="ecole">École (1d)</option>
                                <option value="expert">Expert (2d)</option>
                                <option value="maitre">Maitre (3d)</option>
                                <option value="secret">Secret (4d)</option>
                            </select>
                        </label>
                        <label>
                            <h5>Wugong</h5>
                            <input type="text" name="attr_wugong" placeholder="Indiquer ici un Wugong et son niveau" />
                        </label>
                        <label>
                            <h5>Coups spéciaux</h5>
                            <input type="text" name="attr_coup" placeholder="Indiquer ici la liste de coups exécutée par la technique" />
                        </label>
                        <label>
                            <h5>Description</h5>
                            <textarea name="attr_description" placeholder="Décrire l'effet de la technique"></textarea>
                        </label>
                    </fieldset>
                </div>
            </div>

        </div>
    </div>

    <input type="hidden" name="attr_roll-trigger" class="r_trigger" />
    <div class="r_modal">
        <div class="r_modal_main">
            <h2>
                Tester le destin
                <button type="action" name="act_roll">&#x2716;</button>
            </h2>
            <div class="r_modal_settings">
                <label>
                    <h4>Nombre de dés</h4>
                    <input type="number" name="attr_rolldice" value="1" />
                </label>
                <label>
                    <h4>Seuil d'harmonie</h4>
                    <input type="number" name="attr_rollharmony" value="1"/>
                </label>
                <button type="roll" name="" value="!TaiPingParse [[@{rolldice}d8 - @{rollharmony}]] {{id=@{character_id}}}">Entrer dans l'histoire...</button>    
            </div>
        </div>
    </div>
</div>

<script type="text/worker">
    on('clicked:ident clicked:jauges clicked:traits clicked:pouvoirs', event => {
        setAttrs({
            tab_trigger: event.triggerName.substr(8)
        })
    })

    on('clicked:roll', () => {
        getAttrs(['roll-trigger'], status => {
            setAttrs({
                'roll-trigger': !status['roll-trigger']
            })
        })
    })
</script>

<!-- Roll templates -->
<rolltemplate class="sheet-rolltemplate-roll">
    <div class="sheet-template-container">
        <aside>{{who}} tente une prouesse.</aside>
        <h3 class="sheet-template__header">Verdict du Destin</h3>
        <h2 class="sheet-template__body success-{{success}} perfect-{{perfect}}">{{result}}</h2>
        <ul class="sheet-template__footer">
            <li>
                <span>Dés :</span> {{dice}}
            </li>
            <li>
                <span>Rés. av. 8 :</span> {{resultBeforeEights}}
            </li>
            <li>
                <span># de 8 :</span> {{eights}}
            </li>
            <li>
                <span>Seuil d'harmonie :</span> {{harmony}}
            </li>
        </ul>
    </div>
</rolltemplate><!-- /Roll templates-->