@font-face {
	font-family: 'Yozakura';
	src: url('https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/fonts/Yozakura/YOZAKURA-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Cochin";
    src: url("https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/fonts/Cochin/978e3845b045b2e6a058988930c64d27.woff2") format("woff2"), 
    url("https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/fonts/Cochin/978e3845b045b2e6a058988930c64d27.woff") format("woff"), 
    url("https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/fonts/Cochin/978e3845b045b2e6a058988930c64d27.ttf") format("truetype"),
    url("https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/fonts/Cochin/978e3845b045b2e6a058988930c64d27.svg#Cochin") format("svg");
  }
  
.sheet-main h2, .sheet-main h3, .sheet-main h4, .sheet-main h5 {
    font-family: 'Yozakura', sans-serif;
    color: #800000;
}

h2 {
    text-align: center;
    background-color: #4d0a0a;
    color: white;
    padding: 1rem;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    border-radius: 5px 5px 0 0;
    background-image: url('https://imgsrv.roll20.net/?src=https%3A//gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/pattern-red.png');
    background-size: auto 125px;    
    background-position: center;
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h2 > button {
    color: black;
    float: right;
}

.sheet-main {
    position: relative;
    box-sizing: border-box;
}

.sheet-main *, .sheet-main *:after, .sheet-main *:before {
    box-sizing: inherit;
    font-family: 'Cochin', sans-serif;
}

.charsheet .sheet-subsection > h3 {
    width: 100%;
    flex: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

input, select, textarea {
    font-size: 16px;
}

input[type="text"],
input[type="number"],
select, 
textarea {
    width: 20rem;
    max-width: 100%;
    margin: 0;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid maroon;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
}

textarea {
    height: 5rem;
}

label {
    text-align: center;
}

.sheet-tabs {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 4rem;
}

.sheet-tabs > button {
    color: #a88888;
    background-color: #5b4a4a;
    border-radius: 5px 5px 0 0;
    border: 0;
    padding: .5rem 1rem;
    transition: all .2s ease-in-out;
    box-shadow: inset 0 -2px 3px rgba(0,0,0,.2);
}

.sheet-tabs > button:not(:last-of-type) {
    margin-right: .25rem;
}

.sheet-section {
    display: none;
    background-color: #5b4a4a;
    background-image: url('https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/background.jpg');
    background-size: cover;
    color: white;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.sheet-macaron {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    transform: translate(-50%, 50%);
    width: 65px;
}

.sheet-macaron_btn {
    background: none;
    border: none;
}

.sheet-macaron img {
    filter: drop-shadow(4px 5px 5px rgba(0,0,0.5));
}

.sheet-macaron .sheet-macaron_btn:hover img {
    cursor: pointer;
    animation-name: rotate, rotate2;
    animation-duration: 2s, 4s;
    animation-iteration-count: infinite;
}

.sheet-section .sheet-section_body {
    padding: 4rem;
}

.sheet-subsection {
    background-image: url('https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/paper-bg.jpg');
    background-size: cover;
    margin-bottom: 3rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.sheet-subsection--column {
    background-image: url('https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/paper-bg.jpg');
    background-size: cover;
    margin-bottom: 3rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sheet-subsection:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 1px 3px 9px rgba(0,0,0,.3);
    z-index: 1;
}

.sheet-subsection:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/paper-bg.jpg');
    background-size: cover;
}

.sheet-subsection > * {
    position: relative;
    flex: 1 33%;
    z-index: 1;
}

.sheet-subsection:nth-of-type(odd):after {
    transform: rotate(3deg);
}

.sheet-subsection:nth-of-type(even):after {
    transform: rotate(-2deg);
}

.sheet-tab_trigger[value="ident"] ~ button[name="act_ident"],
.sheet-tab_trigger[value="jauges"] ~ button[name="act_jauges"],
.sheet-tab_trigger[value="traits"] ~ button[name="act_traits"],
.sheet-tab_trigger[value="pouvoirs"] ~ button[name="act_pouvoirs"]
{
    background-color: #800000;
    box-shadow: none;
    color: white;
    padding: 1rem 1rem;
}

.sheet-tab_trigger[value="ident"] ~ .sheet-section.sheet-ident,
.sheet-tab_trigger[value="jauges"] ~ .sheet-section.sheet-jauges,
.sheet-tab_trigger[value="traits"] ~ .sheet-section.sheet-traits,
.sheet-tab_trigger[value="pouvoirs"] ~ .sheet-section.sheet-pouvoirs
{
    display: block;
}

.sheet-r_modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
}

.sheet-r_trigger[value="true"] ~ .sheet-r_modal {
    display: block;
}

.sheet-r_modal_main {
    position: absolute;
    width: 30rem;
    left: 50%;
    top: 10rem;
    transform: translateX(-50%);
    background-color: white;
    background-image: url('https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/paper-bg-2.jpg');
    background-size: cover;
    box-shadow: 1px 3px 2px rgba(0,0,0,.2);
    border-radius: 5px 5px 0 0;
}

.sheet-r_modal_settings {
    padding: 3rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/** Jauges **/

.sacrificed_class {
    margin: 0;
}

.sheet-cycle {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 5rem auto;
}

.sheet-cycle_element {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    height: 5rem;
}

.sheet-cycle_element input {
    width: 6rem !important;
    height: 5rem !important;
    border-radius: 50%;
    border: 0;
    text-align: center;
}

.sheet-cycle_element h3 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(6rem, 0);
    text-align: center;
}

.sheet-cycle_element.sheet-corps {
    transform: translate(-50%, -50%) translate(0, -175px);
}

.sheet-cycle_element.sheet-corps h3{
    transform: translate(0, -3rem);
}

.sheet-cycle_element.sheet-forceinterieure {
    transform: translate(-50%, -50%) translate(166.4px, -54px);
}

.sheet-cycle_element.sheet-forceinterieure h3{
    transform: translateX(75px);
    text-align: left;
}

.sheet-cycle_element.sheet-esprit {
    transform: translate(-50%, -50%) translate(102.9px, 141.6px);
}

.sheet-cycle_element.sheet-esprit h3{
    transform: translateX(75px);
    text-align: left;
}

.sheet-cycle_element.sheet-gongfu {
    transform: translate(-50%, -50%) translate(-102.9px, 141.6px);
}

.sheet-cycle_element.sheet-gongfu h3{
    transform: translateX(-8rem);
    text-align: right;
}

.sheet-cycle_element.sheet-allure {
    transform: translate(-50%, -50%) translate(-166.4px, -54px);
}

.sheet-cycle_element.sheet-allure h3{
    transform: translateX(-6rem);
    text-align: right;
}


@keyframes rotate {
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate2 {
    100% {
        transform: rotate(360deg);
    }
}

label.sheet-l_trouble {
    width: min-content;
}

.sheet-rep-oneline {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sheet-legend {
    background-image: url('https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/field-2.png');
    background-size: 100% 100%;
    filter: drop-shadow(2px 3px 5px rgba(0,0,0.3));
    width: max-content;
    margin: auto;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

.sheet-legend > h3 {
    padding: 3rem 3rem 1rem 3rem;
    display: block;
    color: #800000;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2.3px;
}

.sheet-legend > input {
    font-size: xx-large;
    text-align: center;
    border: 0;
}

.repcontainer[data-groupname="repeating_wugong"] > .repitem {
    display: flex;
}

.repcontainer[data-groupname="repeating_wugong"] > .repitem > select[name="attr_nom"] {
    flex: 1.5;
    margin-right: 1rem;
}

.repcontainer[data-groupname="repeating_wugong"] > .repitem > select[name="sheet-attr-level"] {
    flex: 1;
}

.repcontainer[data-groupname="repeating_coups"], .repcontainer[data-groupname="repeating_technique"]  {
    display: flex;
    flex-wrap: wrap;
}

.repcontainer[data-groupname="repeating_coups"] > *, .repcontainer[data-groupname="repeating_technique"] > * {
       margin: 0 1rem 1rem 0;
}

.repcontainer[data-groupname="repeating_traitsyin"], .repcontainer[data-groupname="repeating_traitsyang"] {
    margin-top: 2rem;
}

.repcontainer[data-groupname="repeating_traitsyin"] > *, .repcontainer[data-groupname="repeating_traitsyang"] > * {
    margin-bottom: 1rem;
}

.sheet-yin {
    background-image: url('https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/yin.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.sheet-yang {
    background-image: url('https://gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/yang.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.charsheet .sheet-subsection > div.sheet-techniques {
    flex: 100%;
}

.sheet-desequilibre {
    flex: 100%;
}

.sheet-rolltemplate-roll {
    font-family: 'Cochin', sans-serif;
    font-size: 16px;
}

.sheet-rolltemplate-roll .sheet-template__header {
    text-align: center;
    background-color: #4d0a0a;
    color: white !important;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    background-image: url('https://imgsrv.roll20.net/?src=https%3A//gogs.vanhulst.one/vanhulst/Wulin_character_sheet/raw/branch/master/assets/images/pattern-red.png');
    background-size: auto 125px;    
    background-position: center;
    font-size: 5rem;
    font-family: 'Yozakura', sans-serif;
}

.sheet-rolltemplate-roll .sheet-template__body {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), inset 0 -2px 3px rgba(0,0,0,.2);
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    color: white;
}

.sheet-rolltemplate-roll .sheet-template__body.sheet-success-true {
    background-color: rgb(0,160,0);
}

.sheet-rolltemplate-roll .sheet-template__body.sheet-perfect-true {
    color: yellow;
}

.sheet-rolltemplate-roll .sheet-template__body.sheet-success-false {
    background-color: rgb(160,0,0);
}

.sheet-rolltemplate-roll .sheet-template__footer {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 1rem;
}

.sheet-rolltemplate-roll .sheet-template__footer li {
    display: flex;
    justify-content: space-between;
}